.welcome {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

section h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

